/* Rofi config file */
configuration {
    lines: 10;
    font: "SF Pro Display 32";
    show-icons: true;
    theme: "oxide";
    display-window: "Window";
    display-drun: "Search";
    window-format: "{t}";
}
