[user]
    email = hq@mtod.org
    name = Adam Rutkowski
	signingkey = 1AE955DBD48E08A
[color]
    ui = true
[alias]
    st = status -bs
    last = diff --cached HEAD^
    lg = -c core.pager='less' log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lolsob = !git log | sed 's/([fF])ix/\\1uck/g'
    ;lgg = log --stat --abbrev-commit -p
    ll = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset'
    df = diff --color-words
    dh = diff --color-words HEAD
    ds = diff --stat -r
    amend = commit --amend
    unpushed = cherry -v
    grod = !git fetch && git rebase -i origin/develop
    grom = !git fetch && git rebase -i origin/master
    f = fetch -p
    branch-name = rev-parse --abbrev-ref HEAD
    pub = !git push -u origin $(git branch-name)
    standup = !git log --since yesterday --author $(git config user.email) --pretty=short
    review-pr = "!sh -c 'git fetch origin pull/$0/head:pr/$0 && git checkout pr/$0 && git lg origin/develop..HEAD && git files'"
    files = diff --oneline --stat origin/develop..HEAD
    br = "!git checkout `git branch | fzf`"
    brr = "!git checkout `git recent | fzf`"
    brv = branch -avv
    dd = diff origin/develop..HEAD
    co = checkout
    recent = for-each-ref --count=16 --sort=-committerdate refs/heads/ --format="%(refname:short)"
    clogp = -c core.pager='less -p^commit.*$' log -p
    search = "!f() { \
      git log --oneline -S\"$1\" | fzf; \
    }; f"

[github]
    user = aerosol
[help]
    autocorrect = 1
[pull]
    rebase = true
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true
[diff]
    indentHeuristic = on
    algorithm = patience
[core]
	excludesfile = /Users/hq1/.gitignore_global
