prefer-no-csd

input {
    keyboard {
        xkb {
            layout "pl"
            options "caps:ctrl_modifier,altwin:swap_lalt_lwin,grp:alt_shift_toggle"
        }
    }

    touchpad {
        // off
        tap
        dwt
        dwtp
        drag true
        //drag-lock
        //natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    trackpoint {
    }

    focus-follows-mouse max-scroll-amount="0%"
}

output "PNP(AOC) U2777B 0x00000023" {
    mode "3840x2160@60"
    scale 1.5
    position x=1920 y=0
}

output "BOE NE135A1M-NY1 Unknown" {
    mode "2880x1920@120.000"
    scale 2
    position x=0 y=0
    // position x=0 y=960
    // variable-refresh-rate
}

output "HDMI-A-1" {
    // Uncomment this line to disable this output.
    // off

    // Resolution and, optionally, refresh rate of the output.
    // The format is "<width>x<height>" or "<width>x<height>@<refresh rate>".
    // If the refresh rate is omitted, niri will pick the highest refresh rate
    // for the resolution.
    // If the mode is omitted altogether or is invalid, niri will pick one automatically.
    // Run `niri msg outputs` while inside a niri instance to list all outputs and their modes.
    mode "3840x2160@60.000"


    // You can use integer or fractional scale, for example use 1.5 for 150% scale.
    // scale 1

    // Transform allows to rotate the output counter-clockwise, valid values are:
    // normal, 90, 180, 270, flipped, flipped-90, flipped-180 and flipped-270.
    transform "normal"

    // position x=1280 y=0
}

spawn-sh-at-startup "qs -c noctalia-shell"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"

spawn-at-startup "signal-desktop"
// spawn-at-startup "bitwarden-desktop"
spawn-at-startup "firefox --no-remote"

// basecamp
spawn-sh-at-startup "gtk-launch org.gnome.Epiphany.WebApp_43d62322126fb6ca1c3e5623444b3d40c01685b6"
// fastmail
spawn-sh-at-startup "gtk-launch org.gnome.Epiphany.WebApp_df6fd2a55af059d3ac4956ef0b60153d14840419"


spawn-sh-at-startup "swayidle -w timeout 180 'brightnessctl -s set 10%' resume 'brightnessctl -r' timeout 300 'qs -c noctalia-shell ipc call lockScreen lock' timeout 419 'niri msg action power-off-monitors' resume 'niri msg acton power-on-monitors' before-sleep 'qs -c noctalia-shell ipc call lockScreen lock'"

spawn-at-startup "/home/hq1/bin/noctalia-theme"

hotkey-overlay {
    skip-at-startup
}

screenshot-path null

animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 1.2
}

window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
    opacity 0.87
    draw-border-with-background false
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="firefox"
    opacity 1.0
}

window-rule {
    // basecamp
    match app-id="org.gnome.Epiphany.WebApp_43d62322126fb6ca1c3e5623444b3d40c01685b6" is-active=true
    opacity 1.0
}

window-rule {
    // fastmail
    match app-id="org.gnome.Epiphany.WebApp_df6fd2a55af059d3ac4956ef0b60153d14840419" is-active=true
    opacity 1.0
}

window-rule {
    match app-id="mpv"
    opacity 1.0
}

window-rule {
    match app-id="vlc"
    opacity 1.0
}

window-rule {
    match app-id="swappy"
    open-focused true
    opacity 1.0
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="org.gnome.Showtime"
    open-floating true
}

window-rule {
    match app-id="org.gnome.Loupe"
    open-floating true
}

window-rule {
    match app-id="vlc"
    open-floating true
}

window-rule {
    match app-id="signal"
    open-on-workspace "msg"
    match at-startup=true app-id="signal"
    open-focused false
}

window-rule {
    // basecamp
    match app-id="org.gnome.Epiphany.WebApp_43d62322126fb6ca1c3e5623444b3d40c01685b6"
    open-on-workspace "msg"
    open-focused false
}

window-rule {
    match title="^WhatsApp Web$"
    open-on-workspace "msg"
}

window-rule {
    // fastmail
    match app-id="org.gnome.Epiphany.WebApp_df6fd2a55af059d3ac4956ef0b60153d14840419"
    open-on-workspace "msg"
    open-maximized true
    open-focused false
}

binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+Backspace { spawn-sh "qs -c noctalia-shell ipc call lockScreen lock"; }

    Mod+Escape hotkey-overlay-title="Open a Terminal: foot" { spawn-sh "niri-focus-or-spawn footclient footclient"; }
    Mod+D hotkey-overlay-title="fileman" { spawn-sh "nautilus $(<$ZSH_CACHE/_lastdir) || $HOME"; }

    Mod+Ctrl+Shift+Alt+Escape { spawn "wl-screenshot"; }
    Mod+Shift+4 { spawn "wl-screenshot"; }

    Mod+S {
        spawn-sh "niri msg action focus-workspace msg; niri-focus-or-spawn signal signal-desktop"; 
    }
    // Mod+G { }
    Mod+Space hotkey-overlay-title="Application Launcher" {
        spawn-sh "qs -c noctalia-shell ipc call launcher toggle"
    }

    F11 hotkey-overlay-title="Application Launcher" {
        spawn-sh "qs -c noctalia-shell ipc call launcher toggle"
    }

    Mod+Alt+V {
        spawn-sh "qs -c noctalia-shell ipc call launcher clipboard"
    }
    
    Mod+B {
        spawn-sh "qs -c noctalia-shell ipc call launcher windows"
    }

    Mod+E {
        spawn-sh "qs -c noctalia-shell ipc call launcher emoji"
    }

    F10 {
        spawn-sh "qs -c noctalia-shell ipc call notifications toggleDND"
    }

    F9 {
        toggle-window-floating
    }

    Mod+R {
        spawn "niri-rename"
    }

    Mod+T {
        spawn "niri-switch-or-create"
    }

    Mod+Q {
        spawn "niri-kill-workspace"
    }

    Mod+M {
        spawn "niri-move-to-workspace"
    }

    Ctrl+Period {
        spawn-sh "qs -c noctalia-shell ipc call notifications dismissAll"
    }

    Mod+I {
        spawn "edit-clipboard"
    }
    
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume increase"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume decrease"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call volume muteOutput"; }
    // Example media keys mapping using playerctl.
    // This will work with any MPRIS-enabled media player.
    // XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    // XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    // XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    // XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness increase"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "qs -c noctalia-shell ipc call brightness decrease"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+W repeat=false { close-window; }

    // Mod+P { maximize-window-to-edges; }
    // Mod+Alt+P { toggle-window-rule-opacity; }

    Mod+H     { focus-column-or-monitor-left; }
    Mod+L     { focus-column-or-monitor-right; }
    Mod+J     { focus-window-or-workspace-down; }
    Mod+K     { focus-window-or-workspace-up; }

    Mod+Alt+J      { move-window-to-workspace-down; }
    Mod+Alt+K      { move-window-to-workspace-up; }
    Mod+Alt+L      { move-column-right-or-to-monitor-right; }
    Mod+Alt+H      { move-column-left-or-to-monitor-left; }

    Ctrl+Shift+Alt+1 { focus-monitor-left; }
    Ctrl+Shift+Alt+2 { focus-monitor-right; }

    // Mod+Shift+Left  { focus-monitor-left; }
    // Mod+Shift+Down  { focus-monitor-down; }
    // Mod+Shift+Up    { focus-monitor-up; }
    // Mod+Shift+Right { focus-monitor-right; }
    // Mod+Shift+H     { focus-monitor-left; }
    // Mod+Shift+J     { focus-monitor-down; }
    // Mod+Shift+K     { focus-monitor-up; }
    // Mod+Shift+L     { focus-monitor-right; }

    // Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    // Mod+Alt+Down  { move-column-to-monitor-down; }
    // Mod+Alt+Up    { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    // Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    // Mod+Shift+Ctrl+J     { move-column-to-monitor-down; }
    // Mod+Shift+Ctrl+K     { move-column-to-monitor-up; }
    // Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Shift+Ctrl+Left  { move-window-to-monitor-left; }
    // ...

    // And you can also move a whole workspace to another monitor:
    // Mod+Shift+Ctrl+Left  { move-workspace-to-monitor-left; }
    // ...

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Alt+1 { move-column-to-workspace 1; }
    Mod+Alt+2 { move-column-to-workspace 2; }
    Mod+Alt+3 { move-column-to-workspace 3; }
    Mod+Alt+4 { move-column-to-workspace 4; }
    Mod+Alt+5 { move-column-to-workspace 5; }
    Mod+Alt+6 { move-column-to-workspace 6; }
    Mod+Alt+7 { move-column-to-workspace 7; }
    Mod+Alt+8 { move-column-to-workspace 8; }
    Mod+Alt+9 { move-column-to-workspace 9; }

    Mod+Comma  { consume-or-expel-window-left; }
    Mod+Period { expel-window-from-column; }

    Mod+X { switch-preset-column-width; }
    Mod+F { maximize-window-to-edges; }
    // Mod+F { maximize-column; }
    // Mod+Shift+F { fullscreen-window; }

    Mod+Ctrl+F { expand-column-to-available-width; }

    // Mod+Q { center-column; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }


    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    // Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Alt+Q { quit; }
}

environment {
    XDG_CURRENT_DESKTOP "niri"
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    QT_QPA_PLATFORMTHEME "gtk3"
    QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}

gestures {
    hot-corners {
        top-right
    }
}

recent-windows {
    binds {
        Mod+Tab         { next-window     scope="output"; }
        Mod+Shift+Tab   { previous-window scope="output"; }
        Mod+grave       { next-window     scope="workspace" filter="app-id"; }
    }
}

overview {
    zoom 0.25

    workspace-shadow {
        off
    }
}

layer-rule {
    match namespace=r#"^noctalia-wallpaper"#
    place-within-backdrop true
}

cursor {
    hide-when-typing
    hide-after-inactive-ms 5000
}

workspace "main"
workspace "msg"

include "./noctalia.kdl"

layout {
    background-color "transparent"
    gaps 16

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"
    always-center-single-column

    preset-column-widths {
        proportion 0.66667
        proportion 0.5
        proportion 1.0
    }

    default-column-width { proportion 0.66667; }

    focus-ring {
        width 4
    }

    border {
        off
    }

    shadow {
        off
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell panels.
    // You can think of them as a kind of outer gaps. They are set in logical pixels.
    // Left and right struts will cause the next window to the side to always be visible.
    // Top and bottom struts will simply add outer gaps in addition to the area occupied by
    // layer-shell panels and regular gaps.
    struts {
        left 0
        right 0
        top 0
        bottom 0
    }

}
