layout {

    focus-ring {
        active-color   "#395e9b"
        inactive-color "#f9f9fe"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#395e9b"
        inactive-color "#f9f9fe"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#395e9b"
        inactive-color "#d7e3ff"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#395e9b80"
    }
}

recent-windows {
    highlight {
        active-color "#395e9b"
        urgent-color "#ba1a1a"
    }
}
