layout {

    focus-ring {
        active-color   "#ffade3"
        inactive-color "#161214"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffade3"
        inactive-color "#161214"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffade3"
        inactive-color "#732a62"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffade380"
    }
}

recent-windows {
    highlight {
        active-color "#ffade3"
        urgent-color "#ffb4ab"
    }
}
